{{ form_start(form) }}
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <div class="fg-line">
                {{ form_label(form.object) }}
                {{ form_widget(form.object  , {'attr' : {'class' : 'form-control'}}
                ) }}
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        {{ form_label(form.startdate) }}

        <div class="input-group form-group">
            <span class="input-group-addon"><i class="fas fa-calendar"></i></span>
            <div class="dtp-container fg-line">
                    {{ form_widget(form.startdate  , {'attr' : {'class' : 'form-control pickadate'}}
                ) }}

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        {{ form_label(form.enddate) }}
        <div class="input-group form-group">
            <span class="input-group-addon"><i class="fas fa-calendar"></i></span>
            <div class="dtp-container fg-line">
                {{ form_widget(form.enddate  , {'attr' : {'class' : 'form-control pickadate'}}
                ) }}
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <div class="fg-line">

                {{ form_label(form.description) }}
                {{ form_widget(form.description  , {'attr' : {'class' : 'form-control'}}
                ) }}
            </div>
        </div>
    </div>

</div>
<button type="submit" class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
