{% extends 'base.html.twig' %}

{% block title %}Message board{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('dist/vendors/dtables/dataTables.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Message board
            <a href="{{ path('notifications_new') }}" class="ml-3 btn btn-info">Create new</a>
        </h4>
        <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="card-content collapse show">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered exportable">
                    <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Object</th>
                        <th>Created</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for notification in notifications %}
                        <tr>
                            <td>
                                <div class="btn-group mr-1 mb-1">
                                    <button type="button" class="btn btn-outline-info btn-min-width dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Info</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{{ path('notifications_show', {'id': notification.id}) }}">Show</a>
                                        {#{% if is_granted('ROLE_SUPER_ADMIN') %}#}
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ path('notifications_edit', {'id': notification.id}) }}">Edit</a>
                                        {#{% endif %}#}
                                    </div>
                                </div>
                            </td>
                            <td>{{ notification.object }}</td>

                            <td>{{ notification.created ? notification.created|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ notification.description|raw }}</td>

                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    {% endblock %}
    {% block javascripts %}
        <!-- BEGIN VENDOR JS-->
        <script src="{{ asset('dist/vendors/js/vendors.min.js') }}"></script>
        <!-- BEGIN VENDOR JS-->
        <script src="{{ asset('dist/vendors/js/tables/datatable/datatables.min.js') }}"></script>
        <!-- BEGIN ROBUST JS-->
        <script src="{{ asset('dist/js/core/app-menu.min.js') }}"></script>
        <script src="{{ asset('dist/js/core/app.min.js') }}"></script>
        <!-- END ROBUST JS-->
        <script src="{{ asset('dist/js/scripts/tables/datatables/datatable-basic.min.js') }}"></script>

        <script>

            $(document).ready(function () {
                // $(".zero-configurations").DataTable()
                // EXPORTABLE DATATABLE
                $('.exportable').DataTable({
                    responsive: true,
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                });
            });
        </script>
    {% endblock %}
