{% extends 'base.html.twig' %}

{% block title %}New Notifications{% endblock %}

{% block body %}
    <h1>

    </h1>
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Create new Notifications <a href="{{ path('notifications_index') }}" class="ml-3 btn btn-info text-uppercase">back to list</a></h4>
        <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                {#<li><a data-action="close"><i class="ft-x"></i></a></li>#}
            </ul>
        </div>
    </div>
    <div class="card-content collapse show">
    <div class="card-body">
        {{ include('notifications/_form.html.twig') }}
    </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/vendors/css/pickers/daterange/daterangepicker.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/vendors/css/pickers/pickadate/pickadate.css') }}">

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('dist/vendors/js/pickers/pickadate/picker.js') }}"></script>
    <script src="{{ asset('dist/vendors/js/pickers/pickadate/picker.date.js') }}"></script>
    <script src="{{ asset('dist/vendors/js/pickers/pickadate/picker.time.js') }}"></script>
    <script src="{{ asset('dist/vendors/js/pickers/pickadate/legacy.js') }}"></script>
    <script src="{{ asset('dist/vendors/js/pickers/dateTime/moment-with-locales.min.js') }}"></script>
    <script src="{{ asset('dist/vendors/js/pickers/daterange/daterangepicker.js') }}"></script>
    <script src="{{ asset('dist/vendors/js/editors/tinymce/tinymce.min.js') }}"></script>
    {#<script src="../../../app-assets/js/scripts/editors/editor-tinymce.min.js"></script>#}
    <script>
        tinymce.init({
            selector: 'textarea#notifications_description',
            height: 100,
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor textcolor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat ',
            content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tiny.cloud/css/codepen.min.css'
            ]
        });
        $(".pickadate").pickadate({
            format: 'yyyy-mm-dd',
        })
    </script>
    {#<script src="{{ asset('dist/js/scripts/pickers/dateTime/pick-a-datetime.min.js') }}"></script>#}
    {#<script src="{{ asset('dist/vendors/input-mask/input-mask.min.js') }}"></script>#}


{% endblock %}
