{% extends 'base.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Message board <a href="{{ path('notifications_index') }}"
                                                   class="ml-3 btn btn-info text-uppercase">back to list</a>
            </h4>
            <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-content collapse show">
            <div class="card-body">
                <table class="table">
                    <tbody>

                    <tr>
                        <th>Object</th>
                        <td>{{ notification.object }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ notification.description|raw }}</td>
                    </tr>
                    <tr>
                        <th>Startdate</th>
                        <td>{{ notification.startdate ? notification.startdate|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Enddate</th>
                        <td>{{ notification.enddate ? notification.enddate|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Created</th>
                        <td>{{ notification.created ? notification.created|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}
