<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="author" content="Visionaires-Studio">
    <title>FOOD FOR ALL</title>
    <link rel="apple-touch-icon" href="{{ asset('dist/images/favicon/apple-icon-120x120.png') }}">
    <link rel="shortcut icon" type="image/x-icon"
          href="{{ asset('dist/images/favicon/favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CMuli:300,400,500,700"
          rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/css/vendors.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/vendors/css/forms/icheck/icheck.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/vendors/css/forms/icheck/custom.css') }}">
    <!-- END VENDOR CSS-->
    <!-- BEGIN ROBUST CSS-->
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/css/app.min.css') }}">
    <!-- END ROBUST CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/css/core/menu/menu-types/vertical-menu.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/css/core/colors/palette-gradient.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/css/pages/login-register.min.css') }}">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/css/style.css') }}">
    <!-- END Custom CSS-->
</head>
<body class="vertical-layout vertical-menu 1-column  bg-cyan bg-lighten-2 menu-expanded fixed-navbar" data-open="click"
      data-menu="vertical-menu" data-col="1-column">

<!-- fixed-top-->

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-md-4 col-10 box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 m-0">
                            <div class="card-header border-0">
                                <div class="card-title text-center">
                                    <img src="{{ asset('dist/images/logo/logo.png') }}" alt="branding logo" class="img-fluid loginLogo">
                                </div>
                                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span class="text-uppercase">Food for all</span>
                                </h6>
                            </div>
                            <div class="card-content">
                                <div class="card-body">

                                    <form class="form-horizontal"
                                          action="{{ path("fos_user_security_check") }}"
                                          {#action="{{ path("dashboard") }}"#}
                                          method="post">
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                                        {% if error %}
                                            <div class="col-md-12" style="color: red;text-align: center;padding-bottom: 10px;">
                                                <b>
                                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                                </b>
                                            </div>
                                        {% else %}
                                            {% for message in app.session.flashbag.get('error') %}
                                                <div class="alert alert-danger alert-alt">
                                                    <i class="fas fa-exclamation-triangle"></i>
                                                    <strong>{{ message|raw }}</strong>
                                                </div>
                                            {% endfor %}

                                            {% for message in app.session.flashbag.get('success') %}
                                                <div class="alert alert-success alert-alt">
                                                    <i class="fas fa-thumbs-up"></i>
                                                    {{ message|raw }}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input type="text" class="form-control input-lg" id="user-name" name="_username"
                                                   placeholder="Your Username" tabindex="1" required
                                                   data-validation-required-message="Please enter your username.">
                                            <div class="form-control-position">
                                                <i class="ft-user"></i>
                                            </div>
                                            <div class="help-block font-small-3"></div>
                                        </fieldset>
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input type="password" class="form-control input-lg" id="password"
                                                   placeholder="Enter Password" tabindex="2" required name="_password"
                                                   data-validation-required-message="Please enter valid passwords.">
                                            <div class="form-control-position">
                                                <i class="ft-lock"></i>
                                            </div>
                                            <div class="help-block font-small-3"></div>
                                        </fieldset>
                                        <div class="form-group row">
                                            <div class="col-md-6 col-12 text-center text-md-left">
                                                <fieldset>
                                                    <input type="checkbox" id="remember-me" class="chk-remember">
                                                    <label for="remember-me"> Remember Me</label>
                                                </fieldset>
                                            </div>
                                            <div class="col-md-6 col-12 text-center text-md-right">
                                                <a href="" class="card-link">
                                                    Forgot
                                                    Password?
                                                </a>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-danger btn-block btn-lg">
                                            <i
                                                    class="ft-unlock"></i> Login
                                        </button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->




<footer class="footer fixed-bottom footer-dark navbar-border">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
        <span class="text-center d-block d-md-inline-block">Copyright  &copy; 2019
            <a class="text-bold-800 text-white-50" href="https://highlife-intl.com"
                    target="_blank">Highlife </a>, All rights reserved.
        </span>
        <span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">
            {#Hand-crafted & Made with <i class="ft-heart pink"></i>#}
        </span>
    </p>
</footer>

<!-- BEGIN VENDOR JS-->
<script src="{{ asset('dist/vendors/js/vendors.min.js') }}"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<script src="{{ asset('dist/vendors/js/forms/validation/jqBootstrapValidation.js') }}"></script>
<script src="{{ asset('dist/vendors/js/forms/icheck/icheck.min.js') }}"></script>
<!-- END PAGE VENDOR JS-->
<!-- BEGIN ROBUST JS-->
<script src="{{ asset('dist/js/core/app-menu.min.js') }}"></script>
<script src="{{ asset('dist/js/core/app.min.js') }}"></script>
<!-- END ROBUST JS-->
<!-- BEGIN PAGE LEVEL JS-->
<script src="{{ asset('dist/js/scripts/forms/form-login-register.min.js') }}"></script>
<!-- END PAGE LEVEL JS-->
</body>

<!-- Mirrored from pixinvent.com/bootstrap-admin-template/robust/html/ltr/vertical-menu-template/login-advanced.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 22 Nov 2019 11:16:15 GMT -->
</html>