{% if user is empty %}
    <table>
        <tr class="flexit">
            <td>
                <div class="mx-auto box">
                    <div class="box-head">
                        {% if parent[0].image is not null %}

                            <img src="https://highlife-intl.com/web/uploads/pphoto/{{ parent[0].image }}"
                                 style="height: 30px;" class="img-circle" alt="">
                        {% else %}
                            <i class="zmdi zmdi-accounts" style="text-align: left"></i>
                        {% endif %}
                        <span class="box-username" onclick="ajax.downlinetree('{{ parent[0].username }}')">{{ parent[0].username }}</span>
                    </div>
                    <div class="box-body">
                        <p class="clientname">{{ parent[0].firstname }} {{ parent[0].lastname }}

                        </p>
                        <br>
                        <b>Level:</b> {{ parent[0].level }}
                        <p>
                            <b>Last login</b><br>
                            {% if parent[0].last_login is not null %}
                                {{ parent[0].last_login|date('d/m/Y') }} at {{ parent[0].last_login|date('H:i:s') }}
                            {% else %}
                                Never connected
                            {% endif %}

                        </p>
                    </div>

                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="downline"></div>
            </td>
        </tr>
        <tr class="flexit line">
            {% if left is not empty %}
                {% if left[0] is not empty %}

                    <td id="{{ left[0].username }}">
                        <div class="mx-auto box">
                            <div class="box-head">
                                {% if left[0].image is not null %}
                                    <img src="https://highlife-intl.com/web/uploads/pphoto/{{ left[0].image }}"
                                         style="height: 30px;" class="img-circle" alt="">
                                {% else %}
                                    <i class="zmdi zmdi-accounts" style="text-align: left"></i>
                                {% endif %}
                                <span onclick="ajax.downlinetree('{{ left[0].username }}')"
                                      class="box-username">{{ left[0].username }}</span>
                            </div>
                            <div class="box-body">
                                <p class="clientname">{{ left[0].firstname }} {{ left[0].lastname }}   </p>
                                <b>Level:</b> {% if left[0].level is not empty %}{{ left[0].level }} {% else %} 0{% endif %}
                                <p>
                                    <b>Last login</b><br>
                                    {% if left[0].last_login is not null %}
                                        {{ left[0].last_login|date('d/m/Y') }} at {{ left[0].last_login|date('H:i:s') }}
                                    {% else %}
                                        Never connected
                                    {% endif %}
                                </p>
                            </div>

                        </div>
                    </td>
                {% endif %}
            {% endif %}
            {% if right is not empty %}
                {% if right[0] is not empty %}
                    <td id="{{ right[0].username }}">
                        <div class="mx-auto box">
                            <div class="box-head">
                                {% if right[0].image is not null %}
                                    <img src="https://highlife-intl.com/web/uploads/pphoto/{{ right[0].image }}"
                                         style="height: 30px;" class="img-circle" alt="">
                                {% else %}
                                    <i class="zmdi zmdi-accounts" style="text-align: left"></i>
                                {% endif %}
                                <span onclick="ajax.downlinetree('{{ right[0].username }}')"
                                      class="box-username">{{ right[0].username }}</span>
                            </div>
                            <div class="box-body">
                                <p class="clientname">{{ right[0].firstname }} {{ right[0].lastname }}
                                </p>

                                <b>Level:</b> {% if right[0].level is not empty %}{{ right[0].level }} {% else %} 0{% endif %}
                                <p>
                                    <b>Last login</b><br>
                                    {% if right[0].last_login is not null %}
                                        {{ right[0].last_login|date('d/m/Y') }} at {{ right[0].last_login|date('H:i:s') }}
                                    {% else %}
                                        Never connected
                                    {% endif %}

                                </p>
                            </div>

                        </div>
                    </td>
                {% endif %}
            {% endif %}
        </tr>

    </table>
{% else %}
    <div class="mx-auto box">
        <div class="box-head">
            {% if user[0].image is not null %}
                <img src="https://highlife-intl.com/web/uploads/pphoto/{{ user[0].image }}" style="height: 30px;"
                     class="img-circle" alt="">
            {% else %}
                <i class="zmdi zmdi-accounts" style="text-align: left"></i>
            {% endif %}
            <span class="box-username">
                {{ user[0].username }}
            </span>
        </div>
        <div class="box-body">
            <p class="clientname">{{ user[0].firstname }} {{ user[0].lastname }}</p>

            <b>Level:</b> {% if user[0].level is not empty %}{{ user[0].level }} {% else %} 0{% endif %}
            <p>
                <b>Last login</b><br>
                {% if user[0].last_login is not null %}
                    {{ user[0].last_login|date('d/m/Y') }} at {{ user[0].last_login|date('H:i:s') }}
                {% else %}
                    Never connected
                {% endif %}

            </p>
        </div>
    </div>
{% endif %}

<script>
    text_truncate = function (str, length, ending) {
        if (length == null) {
            length = 100;
        }
        if (ending == null) {
            ending = '...';
        }
        if (str.length > length) {
            return str.substring(0, length - ending.length) + ending;
        } else {
            return str;
        }
    };
    $('.clientname').each(function (index, value) {
        var clienname = $(this).text();
        $('body').load($(this).html(text_truncate(clienname, 18)));
    });
</script>