{#<div class="col-xl-4 col-md-6 col-12">#}
    <div class="card">
        <div class="text-center">
            <div class="card-body">
                {% if recipientInfo.image is not null %}
                    <img src="{{ recipientInfo.image }}" class="rounded-circle  height-150" alt="Card image">
                {% else %}
                    <i class="ft-user" style="font-size: 100px"></i>
                {% endif %}
            </div>
            <div class="card-body">
                <h4 class="card-title">{{ recipientInfo.client.lastname }} {{ recipientInfo.client.firstname }}</h4>
                <h6 class="card-subtitle text-muted">
                    {{ recipientBranch?'Stage- '~recipientBranch.level:'Stage- 0' }}
                </h6>
            </div>
            {#<div class="card-body">#}
                {#<button type="button" class="btn btn-danger mr-1"><i class="fa fa-plus"></i> Follow</button>#}
                {#<button type="button" class="btn btn-primary mr-1"><i class="ft-user"></i> Profile</button>#}
            {#</div>#}
        </div>
        {#<div class="list-group list-group-flush">#}
            {#<a href="#" class="list-group-item"><i class="fa fa-briefcase"></i> Overview</a>#}
            {#<a href="#" class="list-group-item"><i class="ft-mail"></i> Email</a>#}
            {#<a href="#" class="list-group-item"><i class="ft-check-square"></i> Task</a>#}
            {#<a href="#" class="list-group-item"> <i class="ft-message-square"></i> Calender</a>#}
        {#</div>#}
    </div>
{#</div>#}