{% extends 'base.html.twig' %}

{% block title %}My Commission{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('dist/vendors/dtables/dataTables.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">My Commission
            </h4>
            <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-content collapse show">
            <div class="card-body row">
                <div class="col-lg-4 col-md-3 col-xl-6  col-12">
                    <div class="card crypto-card-3 bg-danger">
                        <div class="card-content">
                            <div class="card-body cc ETH pb-1">
                                <h4 class="text-white mb-3"><i class="icon-wallet" title="ETH"></i> Stage Bonus</h4>
                                <h6 class="text-white mb-1">Balance</h6>
                                <h4 class="text-white">{{ bonus.balance }} $</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-3 col-xl-6  col-12">
                    <div class="card crypto-card-3 bg-warning">
                        <div class="card-content">
                            <div class="card-body icon-wallet pb-1">
                                <h4 class="text-white mb-3"><i class="icon-wallet" title="ETH"></i> Registration Unit</h4>
                                <h6 class="text-white mb-1">Balance</h6>
                                <h4 class="text-white">{{ bonus.regbalance }} $</h4>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}