{% extends 'base.html.twig' %}

{% block title %}Genelogy{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Genelogy</h4>
        <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                {#<li><a data-action="close"><i class="ft-x"></i></a></li>#}
            </ul>
        </div>
    </div>
    <div class="card-content collapse show">
        <div class="card-body">
                {% if stage1 is not empty %}
                    <table class="table">
                        <tr>
                            <td colspan="8" class="text-center">
                                <span class="font-weight-bold">{{ stage1[0].code }}</span><br>

                                <i class="fa fa-user" style="color: #b8eb24;font-size: 50px"></i>
                                <div>
                                    <b>Name:</b> {{ stage1[0].fname }} {{ stage1[0].sname }}<br>
                                    <b>Level:</b> {{ stage1[0].level }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-center">
                                {% if stage1[0].lBranch is not empty %}

                                    <span class="font-weight-bold">{{ stage1[0].lcode }}</span><br>
                                    <i class="fa fa-user show-info" style="color: orange;font-size: 40px"></i>
                                    <div style="display: none;">
                                        <b>Name:</b> {{ stage1[0].lfname }} {{ stage1[0].lsname }}<br>
                                        <b>Level:</b>
                                        {% if stage1[0].llevel is not null %}
                                            {{ stage1[0].llevel }}
                                        {% else %}
                                            0
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </td>
                            <td colspan="4" class="text-center">
                                {% if stage1[0].rBranch is not empty %}
                                    <span class="font-weight-bold">{{ stage1[0].rcode }}</span><br>

                                    <i class="fa fa-user show-info" style="color: orange;font-size: 40px"></i>
                                    <div style="display: none;">
                                        <b>Name:</b> {{ stage1[0].rfname }} {{ stage1[0].rsname }}<br>
                                        <b>Level:</b>
                                        {% if stage1[0].rlevel is not null %}
                                            {{ stage1[0].rlevel }}
                                        {% else %}
                                            0
                                        {% endif %}
                                    </div>

                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            {% if leftbranchStage1 is not empty %}
                                <td colspan="2" class="text-center">
                                    {% if leftbranchStage1[0].lBranch is not empty %}
                                        <span class="font-weight-bold">{{ leftbranchStage1[0].lcode }}</span><br>

                                        <i class="fa fa-user show-info" style="color: dodgerblue;font-size: 25px"></i>
                                        <div style="display: none;">
                                            <b>Name:</b> {{ leftbranchStage1[0].lfname }} {{ leftbranchStage1[0].lsname }}
                                            <br>
                                            <b>Level:</b>
                                            {% if leftbranchStage1[0].llevel is not null %}
                                                {{ leftbranchStage1[0].llevel }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <span class="font-weight-bold">Blank</span> <br>
                                        <i class="mdi-checkbox-blank-circle-outline" style="font-size: large"></i>
                                    {% endif %}
                                </td>
                                <td colspan="2" class="text-center">
                                    {% if leftbranchStage1[0].rBranch is not empty %}
                                        <span class="font-weight-bold">{{ leftbranchStage1[0].rcode }}</span><br>

                                        <i class="fa fa-user show-info" style="color: dodgerblue;font-size: 25px"></i>
                                        <div style="display: none;">
                                            <b>Name:</b> {{ leftbranchStage1[0].rfname }} {{ leftbranchStage1[0].rsname }}
                                            <br>
                                            <b>Level:</b>
                                            {% if leftbranchStage1[0].rlevel is not null %}
                                                {{ leftbranchStage1[0].rlevel }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <span class="font-weight-bold">Blank</span> <br>
                                        <i class="mdi-checkbox-blank-circle-outline" style="font-size: large"></i>
                                    {% endif %}
                                </td>
                            {% else %}
                                <td colspan="2" class="text-center">&nbsp;</td>
                                <td colspan="2" class="text-center">&nbsp;</td>
                            {% endif %}
                            {% if rightbranchStage1 is not empty %}
                                <td colspan="2" class="text-center">
                                    {% if rightbranchStage1[0].lBranch is not empty %}
                                        <span class="font-weight-bold">{{ rightbranchStage1[0].lcode }}</span><br>

                                        <i class="fa fa-user show-info" style="color: dodgerblue;font-size: 25px"></i>
                                        <div style="display: none;">
                                            <b>Name:</b> {{ rightbranchStage1[0].lfname }} {{ rightbranchStage1[0].lsname }}
                                            <br>
                                            <b>Level:</b>
                                            {% if rightbranchStage1[0].llevel is not null %}
                                                {{ rightbranchStage1[0].llevel }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <span class="font-weight-bold">Blank</span> <br>
                                        <i class="mdi-checkbox-blank-circle-outline" style="font-size: large"></i>
                                    {% endif %}
                                </td>
                                <td colspan="2" class="text-center">
                                    {% if rightbranchStage1[0].rBranch is not empty %}
                                        <span class="font-weight-bold">{{ rightbranchStage1[0].rcode }}</span><br>

                                        <i class="fa fa-user show-info" style="color: dodgerblue;font-size: 25px"></i>
                                        <div style="display: none;">
                                            <b>Name:</b> {{ rightbranchStage1[0].rfname }} {{ rightbranchStage1[0].rsname }}
                                            <br>
                                            <b>Level:</b>
                                            {% if rightbranchStage1[0].rlevel is not null %}
                                                {{ rightbranchStage1[0].rlevel }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <span class="font-weight-bold">Blank</span> <br>
                                        <i class="mdi-checkbox-blank-circle-outline" style="font-size: large"></i>
                                    {% endif %}
                                </td>
                            {% else %}
                                <td colspan="2" class="text-center">&nbsp;</td>
                                <td colspan="2" class="text-center">&nbsp;</td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if leftbranchLStage2 is not empty %}
                                <td class="text-center">
                                    {% if leftbranchLStage2[0].lBranch is not empty %}
                                        <span class="font-weight-bold">{{ leftbranchLStage2[0].lcode }}</span><br>

                                        <i class="fa fa-user show-info" style="color: purple;font-size: 25px"></i>
                                        <div style="display: none;">
                                            <b>Name:</b> {{ leftbranchLStage2[0].lfname }} {{ leftbranchLStage2[0].lsname }}
                                            <br>
                                            <b>Level:</b>
                                            {% if leftbranchLStage2[0].llevel is not null %}
                                                {{ leftbranchLStage2[0].llevel }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <span class="font-weight-bold">Blank</span> <br>
                                        <i class="mdi-checkbox-blank-circle-outline" style="font-size: large"></i>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if leftbranchLStage2[0].rBranch is not empty %}
                                        <span class="font-weight-bold">{{ leftbranchLStage2[0].rcode }}</span><br>

                                        <i class="fa fa-user show-info" style="color: purple;font-size: 25px"></i>
                                        <div style="display: none;">
                                            <b>Name:</b> {{ leftbranchLStage2[0].rfname }} {{ leftbranchLStage2[0].rsname }}
                                            <br>
                                            <b>Level:</b>
                                            {% if leftbranchLStage2[0].rlevel is not null %}
                                                {{ leftbranchLStage2[0].rlevel }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <span class="font-weight-bold">Blank</span> <br>
                                        <i class="zmdi zmdi-circle-o" style="font-size: large"></i>
                                    {% endif %}
                                </td>
                            {% else %}
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            {% endif %}
                            {% if leftbranchRStage2 is not empty %}
                                <td class="text-center">
                                    {% if leftbranchRStage2[0].lBranch is not empty %}
                                        <span class="font-weight-bold">{{ leftbranchRStage2[0].lcode }}</span><br>

                                        <img src="{{ asset('dist/img/schema/user2f.png') }}" style="height: 34px;"
                                             alt="" class="show-info">
                                        <div style="display: none;">
                                            <b>Name:</b> {{ leftbranchRStage2[0].lfname }} {{ leftbranchRStage2[0].lsname }}
                                            <br>
                                            <b>Level:</b>
                                            {% if leftbranchRStage2[0].llevel is not null %}
                                                {{ leftbranchRStage2[0].llevel }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <span class="font-weight-bold">Blank</span> <br>
                                        <i class="mdi-checkbox-blank-circle-outline" style="font-size: large"></i>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if leftbranchRStage2[0].rBranch is not empty %}
                                        <span class="font-weight-bold">{{ leftbranchRStage2[0].rcode }}</span><br>

                                        <img src="{{ asset('dist/img/schema/user2f.png') }}" style="height: 34px;"
                                             alt="" class="show-info">
                                        <div style="display: none;">
                                            <b>Name:</b> {{ leftbranchRStage2[0].rfname }} {{ leftbranchRStage2[0].rsname }}
                                            <br>
                                            <b>Level:</b>
                                            {% if leftbranchRStage2[0].rlevel is not null %}
                                                {{ leftbranchRStage2[0].rlevel }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <span class="font-weight-bold">Blank</span> <br>
                                        <i class="zmdi zmdi-circle-o" style="font-size: large"></i>
                                    {% endif %}
                                </td>
                            {% else %}
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            {% endif %}
                            {% if rightbranchLStage2 is not empty %}
                                <td class="text-center">
                                    {% if rightbranchLStage2[0].lBranch is not empty %}
                                        <span class="font-weight-bold">{{ rightbranchLStage2[0].lcode }}</span><br>

                                        <img src="{{ asset('dist/img/schema/user2f.png') }}" style="height: 34px;"
                                             alt="" class="show-info">
                                        <div style="display: none;">
                                            <b>Name:</b> {{ rightbranchLStage2[0].lfname }} {{ rightbranchLStage2[0].lsname }}
                                            <br>
                                            <b>Level:</b>
                                            {% if rightbranchLStage2[0].llevel is not null %}
                                                {{ rightbranchLStage2[0].llevel }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <span class="font-weight-bold">Blank</span> <br>
                                        <i class="zmdi zmdi-circle-o" style="font-size: large"></i>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if rightbranchLStage2[0].rBranch is not empty %}
                                        <span class="font-weight-bold">{{ rightbranchLStage2[0].rcode }}</span><br>

                                        <img src="{{ asset('dist/img/schema/user2f.png') }}" style="height: 34px;"
                                             alt="" class="show-info">
                                        <div style="display: none;">
                                            <b>Name:</b> {{ rightbranchLStage2[0].rfname }} {{ rightbranchLStage2[0].rsname }}
                                            <br>
                                            <b>Level:</b>
                                            {% if rightbranchLStage2[0].rlevel is not null %}
                                                {{ rightbranchLStage2[0].rlevel }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <span class="font-weight-bold">Blank</span> <br>
                                        <i class="zmdi zmdi-circle-o" style="font-size: large"></i>
                                    {% endif %}
                                </td>
                            {% else %}
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            {% endif %}
                            {% if rightbranchRStage2 is not empty %}
                                <td class="text-center">
                                    {% if rightbranchRStage2[0].lBranch is not empty %}
                                        <span class="font-weight-bold">{{ rightbranchRStage2[0].lcode }}</span><br>

                                        <img src="{{ asset('dist/img/schema/user2f.png') }}" style="height: 34px;"
                                             alt="" class="show-info">
                                        <div style="display: none;">
                                            <b>Name:</b> {{ rightbranchRStage2[0].lfname }} {{ rightbranchRStage2[0].lsname }}
                                            <br>
                                            <b>Level:</b>
                                            {% if rightbranchRStage2[0].llevel is not null %}
                                                {{ rightbranchRStage2[0].llevel }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <span class="font-weight-bold">Blank</span> <br>
                                        <i class="zmdi zmdi-circle-o" style="font-size: large"></i>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if rightbranchRStage2[0].rBranch is not empty %}
                                        <span class="font-weight-bold">{{ rightbranchRStage2[0].rcode }}</span><br>

                                        <img src="{{ asset('dist/img/schema/user2f.png') }}" style="height: 34px;"
                                             alt="" class="show-info">
                                        <div style="display: none;">
                                            <b>Name:</b> {{ rightbranchRStage2[0].rfname }} {{ rightbranchRStage2[0].rsname }}
                                            <br>
                                            <b>Level:</b>
                                            {% if rightbranchRStage2[0].rlevel is not null %}
                                                {{ rightbranchRStage2[0].rlevel }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <span class="font-weight-bold">Blank</span> <br>
                                        <i class="zmdi zmdi-circle-o" style="font-size: large"></i>
                                    {% endif %}
                                </td>
                            {% else %}
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            {% endif %}
                        </tr>
                    </table>
                {% else %}
                    <h1 class="text-center">You have no followers at the moment</h1>
                {% endif %}

            </div>
        </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#downline').addClass('active');
        $(".show-info").click(function () {
            console.log('yes');
            $(this).nextAll('div').first().toggle();
        });
    </script>
{% endblock %}