{% extends 'base.html.twig' %}

{% block title %}Genelogy{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Genelogy</h4>
        <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                {#<li><a data-action="close"><i class="ft-x"></i></a></li>#}
            </ul>
        </div>
    </div>
    <div class="card-content collapse show">
        <div class="card-body">
            <div class="gridbox">
                {% if userinfo is not null %}
                <table style="width: 100%">
                    <tr class="flexit">
                        <td id="{{ userinfo.username }}">

                            <div class="mx-auto box">
                                <div class="box-head">
                                    {% if userinfo.image is not null %}
                                        <img src="https://highlife-intl.com/web/uploads/pphoto/{{ userinfo.image }}" style="height: 30px;" class="img-circle" alt="">
                                    {% else %}
                                        <i class="zmdi zmdi-accounts" style="text-align: left"></i>
                                    {% endif %}
                                    <span class="box-username"
                                          onclick="ajax.downlinetree('{{ userinfo.username }}');">
                                                            {{ userinfo.username }}
                                                        </span>

                                </div>
                                <div class="box-body">
                                    <p class="clientname">{{ userinfo.firstname }} {{ userinfo.lastname }}
                                    </p>
                                    <b>Level:</b>
                                    {% if userinfo.level is not empty %}{{ userinfo.level }} {% else %} 0{% endif %}
                                    <p>
                                        {% if userinfo.last_login is not null %}
                                            Last login: Now
                                        {% endif %}

                                    </p>
                                </div>

                            </div>
                        </td>
                    </tr>
                </table>
                {% else %}
                    <h1 class="text-center">You have no followers at the moment</h1>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('dist/js/ajax.js') }}"></script>
{% endblock %}