{% extends 'base.html.twig' %}

{% block title %}Transaction password{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('dist/vendors/dtables/dataTables.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Transaction password</h4>
            <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-content collapse show">
            <div class="card-body row">
                <div class="col-sm-12 col-md-7">
                    {% if existpassword is not null %}
                    <form action="{{ path('update_password') }}" method="POST" class="form-horizontal form-material">
                        <div class="form-group col-md-12">
                            <label class="w-100">Old Transaction Password </label>
                            <div class="w-100">
                                <input type="password" required class="form-control" minlength="8" name="password">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="w-100">New Password</label>
                            <div class="w-100">
                                <input type="password" required class="form-control" minlength="8"
                                       name="newpassword">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="w-100">Confirm Password</label>
                            <div class="w-100">
                                <input type="password" required class="form-control" minlength="8"
                                       name="confpassword">
                            </div>
                        </div>
                        <button class="btn btn-primary"> Update Password</button>
                        {% else %}
                        <form action="{{ path('createpassword') }}" method="POST" class="form-horizontal form-material">
                            <div class="form-group col-md-12">
                                <label class="w-100">New Password</label>
                                <div class="w-100">
                                    <input type="password" required class="form-control" minlength="8"
                                           name="newpassword">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="w-100">Confirm Password</label>
                                <div class="w-100">
                                    <input type="password" required class="form-control" minlength="8"
                                           name="confpassword">
                                </div>
                            </div>
                            <button class="btn btn-primary"> Create Password</button>
                            {% endif %}

                        </form>
                </div>

            <div class="col-sm-12 col-md-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-warning text-center">
                            <i class="zmdi zmdi-alert-triangle"></i>
                        </h1>
                        <br>
                        <ul class="clist clist-angle">
                            <li>Kindly Enter a password you will remember.</li>
                            <li>The password created here will be needed for future transactions.</li>
                            <li>The password must be a maximum of 8 characters long.</li>
                            <li>Be careful not to include space between your password.</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}