{% extends 'base.html.twig' %}

{% block title %}Admin Commissions{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('dist/vendors/dtables/dataTables.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Admin Commissions <a href="{{ path('admin_new') }}" class="ml-3 btn btn-info">Create admin</a></h4>
            <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-content collapse show">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered exportable">
                            <thead>
                                <tr>
                                    <th>Admin name</th>
                                    <th>Email</th>
                                    <th>Registration res.</th>
                                    {#<th>Bottles res.</th>#}
                                    <th>Level Commision</th >
                                </tr>
                            </thead>
                            <tbody>
                                {% for l in liste %}
                                    <tr>
                                        <td>{{ l.username }}</td>
                                       
                                        <td>{{ l.email }}</td>
                                        <td>{{ l.regbalance }}</td>
                                        {#<td>{{ l.bottles }}</td>#}
                                        <td>{{ l.balance }}</td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    {% block javascripts %}
        <!-- BEGIN VENDOR JS-->
        <script src="{{ asset('dist/vendors/js/vendors.min.js') }}"></script>
        <!-- BEGIN VENDOR JS-->
        <script src="{{ asset('dist/vendors/js/tables/datatable/datatables.min.js') }}"></script>
        <!-- BEGIN ROBUST JS-->
        <script src="{{ asset('dist/js/core/app-menu.min.js') }}"></script>
        <script src="{{ asset('dist/js/core/app.min.js') }}"></script>
        <!-- END ROBUST JS-->
        <script src="{{ asset('dist/js/scripts/tables/datatables/datatable-basic.min.js') }}"></script>

        <script>

            $(document).ready(function () {
                // $(".zero-configurations").DataTable()
                // EXPORTABLE DATATABLE
                $('.exportable').DataTable({
                    responsive: true,
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                });
            });
        </script>
    {% endblock %}
