{% extends 'base.html.twig' %}

{% block title %}Administrators{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('dist/vendors/dtables/dataTables.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Administrators {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('admin_new') }}" class="ml-3 btn btn-info">Create admin</a>
                {% endif %}
            </h4>
            <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-content collapse show">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered exportable">
                        <thead>
                        <tr>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <th>Action</th>
                            {% endif %}
                            <th>Username</th>
                            <th>Last Login</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for l in liste %}
                            {% if l.username != app.user.username %}
                                <tr>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <td>
                                            <div class="btn-group">

                                                <button type="button"
                                                        class="btn btn-primary dropdown-toggle waves-effect"
                                                        data-toggle="dropdown" aria-expanded="false">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        {% if l.enabled == 1 %}
                                                            <a href="{{ path('changeStat',{ 'stat': 0,'id': l.id }) }}"
                                                               title="">Disable</a>
                                                        {% else %}
                                                            <a href="{{ path('changeStat',{ 'stat': 1,'id': l.id }) }}"
                                                               title="">Enable</a>
                                                        {% endif %}
                                                    </li>
                                                    <li><a href="{{ path('edit_admin',{'id':l.id}) }}">Edit Admin</a>
                                                    </li>
                                                    <li><a href="{{ path('reset_passe',{'id':l.id}) }}">Reset
                                                            password</a></li>
                                                    <li><a href="{{ path('reset_transaction_password',{'id':l.id}) }}">Reset
                                                            transaction password</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    {% endif %}
                                    <td>{{ l.username }}</td>
                                    <td>{{ l.lastLogin|date('d/m/Y H:i:s') }}</td>
                                    <td>{{ l.email }}</td>

                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    {% block javascripts %}
        <!-- BEGIN VENDOR JS-->
        <script src="{{ asset('dist/vendors/js/vendors.min.js') }}"></script>
        <!-- BEGIN VENDOR JS-->
        <script src="{{ asset('dist/vendors/js/tables/datatable/datatables.min.js') }}"></script>
        <!-- BEGIN ROBUST JS-->
        <script src="{{ asset('dist/js/core/app-menu.min.js') }}"></script>
        <script src="{{ asset('dist/js/core/app.min.js') }}"></script>
        <!-- END ROBUST JS-->
        <script src="{{ asset('dist/js/scripts/tables/datatables/datatable-basic.min.js') }}"></script>

        <script>

            $(document).ready(function () {
                // $(".zero-configurations").DataTable()
                // EXPORTABLE DATATABLE
                $('.exportable').DataTable({
                    responsive: true,
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                });
            });
        </script>
    {% endblock %}
