{% extends 'base.html.twig' %}

{% block title %}Edit admin{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('dist/vendors/dtables/dataTables.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Edit admin
                <a href="{{ path('admin_list') }}" class="ml-3 btn btn-info">Back to list</a>
            </h4>
            <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-content collapse show">
            <div class="card-body">
                <form action="" METHOD="post" class="form-horizontal form-material">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="w-100">
                                <label class="w-100">Username</label>
                                <input type="text" value="{{ admin.username }}" required class="form-control"
                                       name="username"/>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="w-100">Email</label>
                            <div class="w-100">
                                <input type="email" value="{{ admin.email }}" required class="form-control"
                                       name="email"/>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="w-100">Role</label>
                            <div class="w-100">
                                <select name="role" required class="form-control" style="width: 100%">
                                    <option value="">Choose a role</option>
                                    {% if admin.roles[0] == 'ROLE_ADMIN' %}
                                        <option selected value="ROLE_ADMIN">ADMIN</option>
                                        <option value="ROLE_SUPER_ADMIN">SUPER ADMIN</option>
                                    {% else %}
                                        <option value="ROLE_ADMIN">ADMIN</option>
                                        <option selected value="ROLE_SUPER_ADMIN">SUPER ADMIN</option>
                                    {% endif %}

                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <a href="{{ path('reset_passe',{'id':admin.id}) }}"
                               class="btn btn-primary mx-auto d-block ">Reset password</a>
                        </div>
                        <div class="form-group col-md-4">
                            <a href="{{ path('reset_transaction_password',{'id':admin.id}) }}"
                               class="btn btn-info mx-auto d-block ">Reset transaction password</a>
                        </div>
                        <div class="form-group col-md-4">
                            {% if admin.enabled == 1 %}
                                <a href="{{ path('changeStat',{ 'stat': 0,'id': admin.id }) }}"
                                   title="" class="btn btn-danger mx-auto d-block ">Disable account</a>
                            {% else %}
                                <a href="{{ path('changeStat',{ 'stat': 1,'id': admin.id }) }}"
                                   title="" class="btn btn-warning mx-auto d-block ">Enable account</a>
                            {% endif %}
                        </div>

                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-success btn-lg mx-auto d-block">Modify</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}