{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}


    <div class="content-header row">
    </div>
    <div class="content-body">
        {{ include('blocks/accountDetails.html.twig') }}
        <!--/ Sales stats -->
        <!-- Sales by Campaigns & Year -->
        {#<div class="row">#}
            {#<div class="col-xl-8 col-lg-12">#}
                {#<div class="card">#}
                    {#<div class="card-header">#}
                        {#<h4 class="card-title">Smooth Area Chart</h4>#}
                    {#</div>#}
                    {#<div class="card-content collapse show">#}
                        {#<div class="card-body">#}
                            {#<ul class="list-inline text-center">#}
                                {#<li>#}
                                    {#<h6><i class="ft-circle grey lighten-1"></i> iPhone</h6>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<h6><i class="ft-circle success"></i> Samsung</h6>#}
                                {#</li>#}
                            {#</ul>#}
                            {#<div id="smooth-area-chart" class="height-350"></div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-xl-4 col-lg-12">#}
                {#<div class="card">#}
                    {#<div class="card-content">#}
                        {#<div class="card-body sales-growth-chart">#}
                            {#<div id="mobile-sales" class="height-300"></div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="card-footer">#}
                        {#<div class="chart-title mb-1">#}
                            {#<span class="text-muted">Total mobile units sold and total earning statistics.</span>#}
                        {#</div>#}
                        {#<ul class="list-inline text-center clearfix mt-1">#}
                            {#<li class="mr-3"><span class="text-muted">Total Units Sold</span>#}
                                {#<h2 class="block">18.6 k</h2></li>#}
                            {#<li><span class="text-muted">Total Earnings</span>#}
                                {#<h2 class="block">64.54 M</h2></li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        <!--/ Sales by Campaigns & Year -->


    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

{% endblock %}
