{% extends 'base.html.twig' %}

{% block title %}New admin{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('dist/vendors/dtables/dataTables.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">New admin
                <a href="{{ path('admin_list') }}" class="ml-3 btn btn-info">Back to list</a>
            </h4>
            <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-content collapse show">
            <div class="card-body">
                    <form action="" METHOD="post" class="form-horizontal form-material">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="w-100">
                                    <label class="w-100">Username</label>
                                    <input type="text" required class="form-control" name="username"/>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="w-100">Email</label>
                                <div class="w-100">
                                    <input type="email" required class="form-control" name="email"/>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="w-100">Role</label>
                                <div class="w-100">
                                    <select name="role" required class="form-control" style="width: 100%">
                                        <option value="">Choose a role</option>
                                        <option value="ROLE_ADMIN">ADMIN</option>
                                        <option value="ROLE_SUPER_ADMIN">SUPER ADMIN</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="w-100">Passwords</label>
                                <div class="w-100">
                                    <input type="password" required class="form-control" name="pass"/>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="w-100">
                                    <label>Confirm Passwords</label>
                                    <input type="password" required class="form-control" name="confpass"/>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-success">Validate</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}