<div class="main-menu menu-fixed menu-dark menu-accordion    menu-shadow " data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

            <li class="nav-item active" id="dash"><a href="{{ path('dashboard') }}"><i class="icon-home"></i><span class="menu-title" data-i18n="nav.animation.main">Dashboard</span></a>
            </li>
            <li class="nav-item"><a href="{{ path('notifications_index') }}"><i class="ft-message-circle"></i><span class="menu-title" data-i18n="nav.animation.main">Message Board</span></a>
            </li>
            <li class=" navigation-header"><span data-i18n="nav.category.layouts">Bonus & Network</span><i class="ft-more-horizontal ft-minus" data-toggle="tooltip" data-placement="right" data-original-title="E-wallet"></i>
            </li>
            <li class="nav-item"><a href="{{ path('bonus_commissions') }}"><i class="fas fa-balance-scale-right"></i><span class="menu-title" data-i18n="nav.animation.main">Balance</span></a>
            </li>
            <li class="nav-item"><a href="{{ path('genelogy') }}"><i class="ft-message-circle"></i><span class="menu-title" data-i18n="nav.animation.main">Genelogy</span></a>
            </li>
            <li class="nav-item"><a href="{{ path('bonus_network') }}"><i class="fas fa-sitemap"></i><span class="menu-title" data-i18n="nav.animation.main">Downline</span></a>
            <li class="nav-item"><a href="{{ path('clients_new') }}"><i class="fas fa-sitemap"></i><span class="menu-title" data-i18n="nav.animation.main">New member</span></a>
            </li>

            <li class=" navigation-header"><span data-i18n="nav.category.layouts">E-wallet</span><i class="ft-more-horizontal ft-minus" data-toggle="tooltip" data-placement="right" data-original-title="E-wallet"></i>
            </li>
            <li class="nav-item"><a href="{{ path('dashboard') }}"><i class="fas fa-wallet"></i><span class="menu-title" data-i18n="nav.animation.main">Withdrawal</span></a>
            </li>
            <li class="nav-item"><a href="{{ path('transactionpassword') }}"><i class="fas fa-lock"></i><span class="menu-title" data-i18n="nav.animation.main">Transaction password</span></a>
            </li>

            <li class="nav-item"><a href=""><i class="fas fa-exchange-alt"></i><span class="menu-title" data-i18n="nav.animation.main">Transfer</span></a>
                <ul class="menu-content">
                    <li>
                        <a class="menu-item" href="{{ path('transaction') }}" data-i18n="nav.dash.ecommerce">Transfer to member</a>
                    </li>
                    <li>
                        <a class="menu-item" href="{{ path('transaction') }}" data-i18n="nav.dash.ecommerce">Transfer to admin</a>
                    </li>
                    <li><a class="menu-item" href="{{ path('transaction_history') }}" data-i18n="nav.dash.analytics">Transactions history</a>
                    </li>
                    <li><a class="menu-item" href="" data-i18n="nav.dash.analytics">All transactions</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item"><a href=""><i class="fas fa-users"></i><span class="menu-title" data-i18n="nav.animation.main">Users</span></a>
                <ul class="menu-content">
                    <li>
                        <a class="menu-item" href="{{ path('clients_index') }}" data-i18n="nav.dash.ecommerce">Customers</a>
                    </li>
                    <li>
                        <a class="menu-item" href="{{ path('clientByCom') }}" data-i18n="nav.dash.ecommerce">Customer Commission</a>
                    </li>
                    <li><a class="menu-item" href="{{ path('admin_list') }}" data-i18n="nav.dash.analytics">Administrator</a>
                    </li>
                    <li><a class="menu-item" href="{{ path('adminByCom') }}" data-i18n="nav.dash.analytics">Administrator Commission</a>
                    </li>

                </ul>
            </li>
            {#<li class=" nav-item"><a href="indexs.html"><i class="fas fa-wallet"></i>#}
                    {#<span class="menu-title" data-i18n="nav.dash.main">E-wallet</span>#}
                    {#<span class="badge badge badge-info badge-pill float-right mr-2">5</span>#}
                {#</a>#}
                {#<ul class="menu-content">#}
                    {#<li><a class="menu-item" href=dashboard-ecommerce.html" data-i18n="nav.dash.ecommerce">Withdrawal</a>#}
                    {#</li>#}
                    {#<li><a class="menu-item" href="dashboard-project.html" data-i18n="nav.dash.project">Transaction password</a>#}
                    {#</li>#}
                    {#<li><a class="menu-item" href="dashboard-crm.html" data-i18n="nav.dash.crm">Transfer</a>#}
                    {#</li>#}

                {#</ul>#}
            {#</li>#}

        </ul>
    </div>
</div>