<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Food For All| {% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <script src="https://kit.fontawesome.com/ef24b3905f.js" crossorigin="anonymous"></script>
        <meta name="author" content="Visionaries-Studio">
        <title>Dashboard eCommerce - Robust - Responsive Bootstrap 4 Admin Dashboard Template for Web
            Application</title>
        <link rel="apple-touch-icon" href="{{ asset('dist/images/favicon/apple-icon-120x120.png') }}">
        <link rel="shortcut icon" type="image/x-icon"
              href="{{ asset('dist/images/favicon/favicon.ico') }}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CMuli:300,400,500,700"
              rel="stylesheet">
        <!-- BEGIN VENDOR CSS-->
        <link rel="stylesheet" type="text/css" href="{{ asset('dist/css/vendors.min.css') }}">
        <link rel="stylesheet" type="text/css"
              href="{{ asset('dist/vendors//css/charts/jquery-jvectormap-2.0.3.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('dist/vendors/css/charts/morris.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('dist/vendors/css/extensions/unslider.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('dist/vendors/css/weather-icons/climacons.min.css') }}">
        <!-- END VENDOR CSS-->
        <!-- BEGIN ROBUST CSS-->
        <link rel="stylesheet" type="text/css" href="{{ asset('dist/css/app.min.css') }}">
        <!-- END ROBUST CSS-->
        <!-- BEGIN Page Level CSS-->
        <link rel="stylesheet" type="text/css"
              href="{{ asset('dist/css/core/menu/menu-types/vertical-menu.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('dist/css/core/colors/palette-gradient.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('dist/css/core/colors/palette-gradient.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('dist/css/plugins/calendars/clndr.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('dist/fonts/meteocons/style.min.css') }}">
        <!-- END Page Level CSS-->
        <!-- BEGIN Custom CSS-->
        <link rel="stylesheet" type="text/css" href="{{ asset('dist/css/style.css') }}">
        <!-- END Custom CSS-->
    {% endblock %}
</head>
<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click"
      data-menu="vertical-menu" data-col="2-columns">
{% block navhead %}
    {{ include('blocks/navHead.html.twig') }}
{% endblock %}
{% block sidebar %}
    {{ include('blocks/sideBar.html.twig') }}
{% endblock %}
<div class="app-content content">
    <div class="content-wrapper">
        {% for message in app.session.flashbag.get('error') %}
            <div class="alert alert-danger alert-alt">
                <i class="fas fa-exclamation-triangle"></i>
                <strong>{{ message|raw }}</strong>
            </div>
        {% endfor %}

        {% for message in app.session.flashbag.get('success') %}
            <div class="alert alert-success alert-alt">
                <i class="fas fa-thumbs-up"></i>
                {{ message|raw }}
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
</div>
{% block javascripts %}
    <!-- BEGIN VENDOR JS-->
    <script src="{{ asset('dist/vendors/js/vendors.min.js') }}"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="{{ asset('dist/vendors/js/extensions/moment.min.js') }}"></script>
    <script src="{{ asset('dist/vendors/js/extensions/underscore-min.js') }}"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN ROBUST JS-->
    <script src="{{ asset('dist/js/core/app-menu.min.js') }}"></script>
    <script src="{{ asset('dist/js/core/app.min.js') }}"></script>
    <!-- END ROBUST JS-->
    <!-- BEGIN PAGE LEVEL JS-->

    <script src="{{ asset('dist/js/ajax.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
<script>
    setInterval(function(){$('alert').hide() }, 4000);
</script>
</body>
</html>
