{{ form_start(form) }}
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <div class="fg-line">
                {{ form_label(form.firstname) }} <span class="text-danger">*</span>
                {{ form_widget(form.firstname  , {'attr' : {'class' : 'form-control'}}
                ) }}
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="fg-line">
                {{ form_label(form.lastname) }} <span class="text-danger">*</span>
                {{ form_widget(form.lastname  , {'attr' : {'class' : 'form-control'}}
                ) }}
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="fg-line">
                {{ form_label(form.telephone) }} <span class="text-danger">*</span>
                {{ form_widget(form.telephone  , {'attr' : {'class' : 'form-control'}}
                ) }}
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="fg-line">
                {{ form_label(form.email) }} <span class="text-danger">*</span>
                {{ form_widget(form.email  , {'attr' : {'class' : 'form-control'}}
                ) }}
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="fg-line">
                {{ form_label(form.country) }} <span class="text-danger">*</span>
                {{ form_widget(form.country  , {'attr' : {'class' : 'form-control'}}
                ) }}
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="fg-line">
                {{ form_label(form.piecenumber) }}
                {{ form_widget(form.piecenumber  , {'attr' : {'class' : 'form-control'}}
                ) }}
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="fg-line">
                {{ form_label(form.gender) }}
                {{ form_widget(form.gender  , {'attr' : {'class' : 'form-control'}}
                ) }}
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="fg-line">
                {{ form_label(form.dateofbirth) }}
                {{ form_widget(form.dateofbirth  , {'attr' : {'class' : 'form-control pickadate'}}
                ) }}
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <div class="fg-line">
                {{ form_label(form.address) }}
                {{ form_widget(form.address  , {'attr' : {'class' : 'form-control'}}
                ) }}
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <div class="fg-line">
                <label for="">Transaction Password <span class="text-danger">*</span></label>
                <div class="input-group form-group ">
                    <span class="input-group-addon"><i class="fas fa-lock"></i></span>
                    <div class="dtp-container fg-line" style="width: 95%">
                        <input type="password" class="form-control" name="tranpassword" id="transac" required>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="button" id="checker" class="btn btn-success">{{ button_label|default('Crate member') }}</button>
    <button type="submit" id="submitBtn" style="display: none;" class="btn btn-success">{{ button_label|default('Crate member') }}</button>
</div>
{{ form_end(form) }}
