{% extends 'base.html.twig' %}

{% block title %}Client list{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('dist/vendors/dtables/dataTables.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Client list</h4>
            <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-content collapse show">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered exportable">
                        <thead>
                        <tr>
                            {#{% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}#}
                                <th>Action</th>
                            {#{% endif %}#}
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Last Login</th>
                            <th>Username</th>
                            <th>Telephone</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for client in clients %}
                            <tr>
                                {#{% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}#}
                                    <td>
                                        <div class="btn-group">

                                            <button type="button" class="btn btn-primary dropdown-toggle waves-effect"
                                                    data-toggle="dropdown" aria-expanded="false">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    {% if client.enabled == 1 %}
                                                        <a href="{{ path('changeStat',{ 'stat': 0,'id': client.userID }) }}"
                                                           title="">Disable Account</a>
                                                    {% else %}
                                                        <a href="{{ path('changeStat',{ 'stat': 1,'id': client.userID }) }}"
                                                           title="">Enable Account</a>
                                                    {% endif %}
                                                </li>
                                                <li><a href="{{ path('reset_passe',{'id':client.userID}) }}">Reset
                                                        password</a></li>
                                                <li>
                                                    <a href="{{ path('reset_transaction_password',{'id':client.userID}) }}">Reset
                                                        transaction password</a></li>
                                                <li><a href="{{ path('clients_edit',{'id':client.userID}) }}">Edit
                                                        profile</a></li>
                                            </ul>
                                        </div>

                                    </td>
                                {#{% endif %}#}
                                <td>{{ client.firstname }}</td>
                                <td>{{ client.lastname }}</td>
                                <td>{{ client.lastLogin|date('d/m/Y H:i:s') }}</td>
                                <td>{{ client.username }}</td>
                                <td>{{ client.telephone }}</td>
                                <td>{{ client.email }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    {% block javascripts %}
        <!-- BEGIN VENDOR JS-->
        <script src="{{ asset('dist/vendors/js/vendors.min.js') }}"></script>
        <!-- BEGIN VENDOR JS-->
        <script src="{{ asset('dist/vendors/js/tables/datatable/datatables.min.js') }}"></script>
        <!-- BEGIN ROBUST JS-->
        <script src="{{ asset('dist/js/core/app-menu.min.js') }}"></script>
        <script src="{{ asset('dist/js/core/app.min.js') }}"></script>
        <!-- END ROBUST JS-->
        <script src="{{ asset('dist/js/scripts/tables/datatables/datatable-basic.min.js') }}"></script>

        <script>

            $(document).ready(function () {
                // $(".zero-configurations").DataTable()
                // EXPORTABLE DATATABLE
                $('.exportable').DataTable({
                    responsive: true,
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                });
            });
        </script>
    {% endblock %}
