{% extends 'base.html.twig' %}

{% block title %}New Member{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Create new member</h4>
            <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    {#<li><a data-action="close"><i class="ft-x"></i></a></li>#}
                </ul>
            </div>
        </div>
        <div class="card-content collapse show">
            <div class="card-body">
                {{ include('clients/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/vendors/css/pickers/daterange/daterangepicker.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/vendors/css/pickers/pickadate/pickadate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/vendors/css/extensions/sweetalert.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('dist/vendors/js/extensions/sweetalert.min.js') }}"></script>
    <script src="{{ asset('dist/vendors/js/pickers/pickadate/picker.js') }}"></script>
    <script src="{{ asset('dist/vendors/js/pickers/pickadate/picker.date.js') }}"></script>
    <script src="{{ asset('dist/vendors/js/pickers/pickadate/picker.time.js') }}"></script>
    <script src="{{ asset('dist/vendors/js/pickers/pickadate/legacy.js') }}"></script>
    <script src="{{ asset('dist/vendors/js/pickers/dateTime/moment-with-locales.min.js') }}"></script>
    <script src="{{ asset('dist/vendors/js/pickers/daterange/daterangepicker.js') }}"></script>
    <script src="{{ asset('dist/js/scripts/extensions/sweet-alerts.min.js') }}"></script>
    <script src="{{ asset('dist/js/core/formValidation.js') }}"></script>
    <script>
        $(".pickadate").pickadate({
            format: 'yyyy-mm-dd',
        })
    </script>
{% endblock %}