{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
    <h1>Clients</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ client.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ client.lastname }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ client.gender }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ client.telephone }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ client.address }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ client.created ? client.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Agreed</th>
                <td>{{ client.agreed ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Piecenumber</th>
                <td>{{ client.piecenumber }}</td>
            </tr>
            <tr>
                <th>Dateofbirth</th>
                <td>{{ client.dateofbirth ? client.dateofbirth|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('clients_index') }}">back to list</a>

    <a href="{{ path('clients_edit', {'id': client.id}) }}">edit</a>

    {{ include('clients/_delete_form.html.twig') }}
{% endblock %}
