{% extends 'base.html.twig' %}

{% block title %}Transfer{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('dist/vendors/dtables/dataTables.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Transfer
            </h4>
            <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-content collapse show">
            <div class="card-body row">
                <div class="col-sm-12 col-md-8">
                    <form action="" method="post">
                        <div class="form-group">
                            <label for="timesheetinput1">Requestor</label>
                            <div class="position-relative has-icon-left">
                                <input type="text" class="form-control" name="username" readonly
                                       value="{{ app.user.username }}">
                                <div class="form-control-position">
                                    <i class="ft-user"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="timesheetinput1">Recipient</label>
                            <div class="position-relative has-icon-left">
                                <input type="text" class="form-control" id="sponsorcode" name="recipient">
                                <div class="form-control-position">
                                    <i class="ft-search" onclick="ajax.checkTransferCode();" style="cursor: pointer;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="timesheetinput1">Amount to Send</label>
                            <div class="position-relative has-icon-left">
                                <input type="number" class="form-control" name="amount">
                                <div class="form-control-position">
                                    <i class="ft-pocket"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Select the fund that you wish to transfer</label>
                            <div class="input-group">
                                <div class="d-inline-block custom-control custom-radio mr-1">
                                    <input type="radio" name="customer2" class="custom-control-input" id="yes1" value="levelCommission">
                                    <label class="custom-control-label" for="yes1">Level Commission {{ commission.balance }}$</label>
                                </div>
                                <div class="d-inline-block custom-control custom-radio">
                                    <input type="radio" name="customer2" class="custom-control-input" id="no1" value="registration">
                                    <label class="custom-control-label" for="no1">Registration unit {{ commission.regbalance }}$</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="timesheetinput1">Transaction Password</label>
                            <div class="position-relative has-icon-left">
                                <input type="password" class="form-control" name="password">
                                <div class="form-control-position">
                                    <i class="ft-lock"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions center">
                            <button type="reset" class="btn btn-warning mr-1">
                                <i class="ft-refresh-ccw"></i> Reset
                            </button>
                            <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want perform this operation?'); ">
                                <i class="fa fa-check-square-o"></i> Transfer
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-12 col-md-4 text-center">

                                <span id="defaultText">Verify the sponsors code by clicking on the
                                    <span style="font-size: 18px"><i class="ft-search"></i></span> icon
                                </span>
                    {#<h1 class="text-center">{{ commission.balance|number_format(1,'.',' ') }}$</h1>#}
                    <p id="checkintxt" style="display: none;">
                        Checking sponsor code, please wait ...<i
                                class="fas fa-sync-alt fa-spin"></i>
                    </p> <br>
                    {#<br>#}
                    {#<a data-toggle="modal" href="#qrcode" id="showmodal" class="btn btn-default mb-3">#}
                        {#Scan QR-Code#}
                    {#</a>#}
                    {#<br>#}
                    {#<br>#}


                    {#{{ recaptcha.recaptcha(publicKey) }}#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}